h1 {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    font: bold

}
h2 {
    color: darkgoldenrod;
    text-align: center;
    text-decoration: underline;

}
h3 {
    text-align: center;
}